<section>

        <div class=" container mt-5">
            <div class="row">

                {{#each products}}
                <div class="productParentDiv col-md-3 p-5">
                    <div class="card">
                        <img class="card-img-top img"
                            src="/product-images/{{this._id}}.jpg"
                            alt="Card image cap"
                            >
                        <div class="card-body">
                            <h5 class="card-title">{{this.Name}}</h5>
                            <p class="cart-text">$.{{this.price}}</p>
                            <p class="cart-text">{{this.category}}</p>
                            
                           <div>
                            <a href="#" class=" a fas fa-heart"></a>
                            <button onclick="addToCart('{{this._id}}')" class="btn button">Add to cart</button>
                           </div>
                        </div>
                    </div>
                </div>

                {{/each}}
            </div>
        </div>

    </section>

